pinpoint.profiler.profiles.active=release
profiler.transport.module=GRPC
profiler.transport.grpc.collector.ip=127.0.0.1
profiler.transport.grpc.agent.collector.ip=${profiler.transport.grpc.collector.ip}
profiler.transport.grpc.agent.collector.port=9991
profiler.transport.grpc.agent.sender.channel.executor.queue.size=1000
profiler.transport.grpc.agent.sender.request.timeout.millis=6000
profiler.transport.grpc.agent.sender.keepalive.time.millis=30000
profiler.transport.grpc.agent.sender.keepalive.timeout.millis=60000
profiler.transport.grpc.agent.sender.connect.timeout.millis=3000
profiler.transport.grpc.agent.sender.headers.size.max=8K
profiler.transport.grpc.agent.sender.message.inbound.size.max=4M
profiler.transport.grpc.agent.sender.flow-control.window.size=1M
profiler.transport.grpc.agent.sender.write.buffer.highwatermark=32M
profiler.transport.grpc.agent.sender.write.buffer.lowwatermark=16M
profiler.transport.grpc.agent.sender.channel-type=AUTO
profiler.transport.grpc.metadata.collector.ip=${profiler.transport.grpc.collector.ip}
profiler.transport.grpc.metadata.collector.port=9991
profiler.transport.grpc.metadata.sender.executor.queue.size=1000
profiler.transport.grpc.metadata.sender.channel.executor.queue.size=1000
profiler.transport.grpc.metadata.sender.request.timeout.millis=6000
profiler.transport.grpc.metadata.sender.retry.max.count=3
profiler.transport.grpc.metadata.sender.retry.delay.millis=1000
profiler.transport.grpc.metadata.sender.keepalive.time.millis=30000
profiler.transport.grpc.metadata.sender.keepalive.timeout.millis=60000
profiler.transport.grpc.metadata.sender.connect.timeout.millis=3000
profiler.transport.grpc.metadata.sender.headers.size.max=8K
profiler.transport.grpc.metadata.sender.message.inbound.size.max=4M
profiler.transport.grpc.metadata.sender.flow-control.window.size=1M
profiler.transport.grpc.metadata.sender.write.buffer.highwatermark=32M
profiler.transport.grpc.metadata.sender.write.buffer.lowwatermark=16M
profiler.transport.grpc.agent.sender.channel-type=AUTO
profiler.transport.grpc.stat.collector.ip=${profiler.transport.grpc.collector.ip}
profiler.transport.grpc.stat.collector.port=9992
profiler.transport.grpc.stat.sender.executor.queue.size=1000
profiler.transport.grpc.stat.sender.channel.executor.queue.size=1000
profiler.transport.grpc.stat.sender.request.timeout.millis=6000
profiler.transport.grpc.stat.sender.keepalive.time.millis=30000
profiler.transport.grpc.stat.sender.keepalive.timeout.millis=60000
profiler.transport.grpc.stat.sender.connect.timeout.millis=3000
profiler.transport.grpc.stat.sender.headers.size.max=8K
profiler.transport.grpc.stat.sender.message.inbound.size.max=4M
profiler.transport.grpc.stat.sender.flow-control.window.size=1M
profiler.transport.grpc.stat.sender.write.buffer.highwatermark=32M
profiler.transport.grpc.stat.sender.write.buffer.lowwatermark=16M
profiler.transport.grpc.agent.sender.channel-type=AUTO
profiler.transport.grpc.span.collector.ip=${profiler.transport.grpc.collector.ip}
profiler.transport.grpc.span.collector.port=9993
profiler.transport.grpc.span.sender.executor.queue.size=1000
profiler.transport.grpc.span.sender.channel.executor.queue.size=1000
profiler.transport.grpc.span.sender.request.timeout.millis=6000
profiler.transport.grpc.span.sender.keepalive.time.millis=30000
profiler.transport.grpc.span.sender.keepalive.timeout.millis=60000
profiler.transport.grpc.span.sender.connect.timeout.millis=3000
profiler.transport.grpc.span.sender.headers.size.max=8K
profiler.transport.grpc.span.sender.message.inbound.size.max=4M
profiler.transport.grpc.span.sender.flow-control.window.size=1M
profiler.transport.grpc.span.sender.write.buffer.highwatermark=32M
profiler.transport.grpc.span.sender.write.buffer.lowwatermark=16M
profiler.transport.grpc.span.sender.discardpolicy.logger.discard.ratelimit=1
profiler.transport.grpc.span.sender.discardpolicy.maxpendingthreshold=1024
profiler.transport.grpc.span.sender.discardpolicy.discard-count-for-reconnect=1000
profiler.transport.grpc.span.sender.discardpolicy.not-ready-timeout-millis=300000
profiler.system.property.io.netty.tryReflectionSetAccessible=true
profiler.system.property.io.netty.noPreferDirect=false
profiler.collector.ip=127.0.0.1
profiler.collector.span.ip=${profiler.collector.ip}
profiler.collector.span.port=9996
profiler.collector.stat.ip=${profiler.collector.ip}
profiler.collector.stat.port=9995
profiler.collector.tcp.ip=${profiler.collector.ip}
profiler.collector.tcp.port=9994
profiler.enable=true
profiler.application.namespace=
profiler.interceptorregistry.size=8192
profiler.jvm.vendor.name=
profiler.os.name=
profiler.jvm.stat.collect.interval=5000
profiler.jvm.stat.batch.send.count=6
profiler.jvm.stat.collect.detailed.metrics=true
profiler.sampling.enable=true
profiler.sampling.rate=1
profiler.sampling.new.throughput=0
profiler.sampling.continue.throughput=0
profiler.io.buffering.enable=true
profiler.io.buffering.buffersize=20
profiler.tcpdatasender.command.accept.enable=true
profiler.tcpdatasender.command.activethread.enable=true
profiler.tcpdatasender.command.activethread.count.enable=true
profiler.tcpdatasender.command.activethread.threaddump.enable=true
profiler.tcpdatasender.command.activethread.threadlightdump.enable=true
profiler.tcpdatasender.client.write.timeout=3000
profiler.tcpdatasender.client.request.timeout=3000
profiler.tcpdatasender.client.reconnect.interval=3000
profiler.tcpdatasender.client.ping.interval=300000
profiler.tcpdatasender.client.handshake.interval=60000
profiler.tcpdatasender.client.write.buffer.highwatermark=32m
profiler.tcpdatasender.client.write.buffer.lowwatermark=16m
profiler.agentInfo.send.retry.interval=300000
profiler.statdatasender.transport.type=UDP
profiler.statdatasender.write.queue.size=5120
profiler.statdatasender.chunk.size=16384
profiler.statdatasender.socket.type=OIO
profiler.statdatasender.write.buffer.highwatermark=16m
profiler.statdatasender.write.buffer.lowwatermark=8m
profiler.spandatasender.transport.type=UDP
profiler.spandatasender.write.queue.size=5120
profiler.spandatasender.chunk.size=16384
profiler.spandatasender.socket.type=OIO
profiler.spandatasender.write.buffer.highwatermark=16m
profiler.spandatasender.write.buffer.lowwatermark=8m
profiler.pinpoint.activethread=true
profiler.pinpoint.datasource=true
profiler.monitor.deadlock.enable=true
profiler.monitor.deadlock.interval=60000
profiler.callstack.max.depth=64
profiler.interceptor.exception.propagate=false
profiler.instrument.engine=ASM
profiler.instrument.jdk.allow.classnames=java.util.concurrent.CompletableFuture,java.lang.ProcessBuilder,java.util.function.Supplier
bytecode.dump.enable=false
bytecode.dump.classlist=
bytecode.dump.bytecode=false
bytecode.dump.verify=false
bytecode.dump.asm=false
profiler.instrument.matcher.enable=true
profiler.instrument.matcher.interface.cache.size=4
profiler.instrument.matcher.interface.cache.entry.size=16
profiler.instrument.matcher.annotation.cache.size=4
profiler.instrument.matcher.annotation.cache.entry.size=4
profiler.instrument.matcher.super.cache.size=4
profiler.instrument.matcher.super.cache.entry.size=4
profiler.lambda.expressions.support=true
profiler.proxy.http.header.enable=true
profiler.http.status.code.errors=5xx
profiler.plugin.load.order=
profiler.plugin.disable=
profiler.server.hidepinpointheader=true
profiler.server.excludeurl=
profiler.server.excludemethod=
profiler.server.tracerequestparam=true
profiler.server.realipheader=
profiler.server.realipemptyvalue=
profiler.springboot.enable=true
profiler.springboot.bootstrap.main=org.springframework.boot.loader.JarLauncher, org.springframework.boot.loader.WarLauncher, org.springframework.boot.loader.PropertiesLauncher
