settings{
        logfile = "/var/log/lsyncd.log",
        statusFile = "/tmp/lsyncd.stat",
        statusInterval = 1,
        inotifyMode  = "CloseWrite or Modify",
}

targets = {
        '10.211.1.54::huodong',
        '10.211.1.55::huodong',
}

for _, target in ipairs( targets )
do
sync{
default.rsync,
source="/home/weblogic/bt/huodong",
target=target,
rsync = {
        compress = true,
        perms   = true
        }
}
end
